<table class="table-bordered text-center">
    <thead >
        <tr>
            <th >user id</th>
            <th>title</th>
            <th>completed</th>
        </tr>
</thead>
<tbody >
    <tr *ngFor="let products of employee" >
        <td > 
            {{products.userId}}
        </td>
        <td>
            {{products.title}}
        </td>
        <td>
            {{products.completed}}
        </td>
    </tr>
</tbody>
</table>

<!-- 
<div *ngFor="let products of employee">
  id-{{products.id}} &nbsp;  title-{{products.title}} &nbsp; completed-{{products.completed}}
</div>
 -->

 <table class="table-bordered text-center">
    <thead >
        <tr>
            <th >Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
</thead>
<tbody >
    <tr *ngFor="let data of user" >
        <td > 
            {{data.id}}
        </td>
        <td>
            {{data.name}}
        </td>
        <td>
            {{data.email}}
        </td>
    </tr>
</tbody>
</table>