<div class="row">
    <div class="col-md-6">  
    <div class="card">
        <img class="card-img-top" width=30px src="../../assets/images/tv.jpg">
        <div class="card-body">
          <a routerLink="service1" class="btn btn-primary">Go service1</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" width=30px src="../../assets/images/laptop.jpg">
        <div class="card-body">
          <a routerLink="service2" class="btn btn-primary"  >Go service2</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 fixed-top-right">
       
        <router-outlet></router-outlet>
    </div>
</div>